
body {
  background: #262626;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


/* Стили для auth.html*/
button.auth{
  padding: 20px 50px;
  outline: none;
  border: none;
  border-radius: 25px;
  background-color: rgb(0,117, 229);
  cursor: pointer;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 2px;
  box-shadow: 0px 5px 10px black;
}


/* Стили для random_number.html*/
button.logout{
  align-self: flex-end;
  padding: 20px 50px;
  outline: none;
  border: none;
  border-radius: 25px;
  background-color:  #900020;
  cursor: pointer;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 2px;
  box-shadow: 0px 5px 10px black;
  position: relative;
  right: 140px;
  top: -70px;
}

