<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
    <title>Случайное число</title>
    
</head>
<body class="number_page">
    <h2 style="color: aliceblue; font-size: 
    50px; position: relative; right: 5px;" id="number">5 сек ;-)</h2>
   
   <button type="button" 
    onclick="location.href='http://localhost:8000/github/logout'"
    class="logout">Выйти</button>

    
    <script>
        async function getResponse() {
            let response = await fetch('http://localhost:8000/random/number')
            let content = await response.text()
            document.getElementById('number').innerHTML = content;
        }
        setInterval(getResponse, 5000)
    </script>

    
    
</body>
</html>